name: Remind Dependabot alerts
on:
  workflow_dispatch:

jobs:
  dependabot-notifier:
    runs-on: ubuntu-latest
    permissions:
      security-events: read
    steps:
      - name: GitHub CLI
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api '/repos/mtsuchiya/sample01/dependabot/alerts?state=open' \
             --jq \
             'map({
                c: .created_at,
                e: .dependency.package.ecosystem,
                n: .dependency.package.name,
                s: .security_vulnerability.severity
              })
              | unique_by(.s, .e, .n)
              | sort_by(.c)
              | reverse[]
              | "\(.s) on (\(.c)):  \(.e) ã® \(.n)"
             ' > vuls.txt || true

      - name: cat result
        run: cat vuls.txt
